[submodule "resources/cmsis-svd"]
	path = resources/cmsis-svd
	url = git@github.com:posborne/cmsis-svd.git
[submodule "tools"]
	path = tools
	url = https://bitbucket.org/nuttx/tools
[submodule "apps"]
	path = apps
	url = git@github.com:FSRH/nuttx-apps.git
[submodule "nuttx"]
	path = nuttx
	url = git@github.com:FSRH/nuttx.git
[submodule "PX4-Firmware"]
	path = PX4-Firmware
	url = git@github.com:PX4/Firmware.git
